<div class="post">

  <div class="heading">
    <h2><%= link_to_article article %></h2>
    <p>
      <span class="author">by <strong><%= article.author %></strong></span>
      &bull;
      <span class="date"><%= format_date article.date %></span> 
    </p>
  </div>

  <div class="entry">

    <%= html_transform article.body %>

  </div>
  
  <% if @articles %>
  <div class="meta">
    <p class="comments"><a href="<%= article_url article %>#respond" title="Comment on <%= article.title %>">Comments &#187;</a></p>
    <p class="time">Posted @ <%= format_time article.date %></p>
    <br class="clear" />
  </div>
  <% else %>
    <% if @article.tags.present? %>
    <p>Tags: 
      <%= @article.tags.split(',').map { |tag|  link_to(tag, blog_tag_path(tag), :rel => 'tag')}.join(', ') %>
    <% end %>
  <% end %>

</div>
